.index{
  width: 100%;
  height: 100%;
  .footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    display: flex;
    dl {
      flex: 1;
      text-align: center;
      dd {
        font-size: 12px;
        color: #333;
      }
      dt {
        i {
          font-size: 18px;
          color: #333;
        }
      }
    }
    .active {
      dd{
        color: #fc6177;
      }
      dt{
        i{
          color: #fc6177;
        }
      }
    }
  }
}