.user {
  .header {
    width: 100%;
    height: 44px;
    background: #fc6177;
    p {
      line-height: 44px;
      text-align: center;
      font-size: 18px;
      span {
        color: #fff;
      }
      i {
        color: #fff;
        float: right;
        padding-right: 10px;
      }
    }
  }
  .user_content {
    background: #fff;
    .My_info {
      .title {
        width: 100%;
        height: 90px;
        border-bottom: 1px solid #efeff4;
        dl {
          padding-top: 4%;
          padding-left: 4%;
          dt {
            float: left;
            padding-right: 5%;
            img {
              width: 60px;
              height: 60px;
            }
          }
          dd {
            div {
              display: inline-block;
              padding-top: 4%;
            }
            .right {
              float: right;
              padding-right: 4%;
              line-height: 90px;
            }
          }
        }
      }
      .mes {
        width: 100%;
        height: 75px;
        display: flex;
        background: #fff;
        border-bottom: 10px solid #f7f7f7;
        dl {
          flex: 1;
          text-align: center;
          margin-top: 10px;
          dd {
            font-size: 12px;
            color: #333;
          }
          dt {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            margin: 0 auto;
          }
          &:nth-child(1) {
            dt {
              background: #f66467;
              i {
                font-size: 24px;
                color: #fffadc;
              }
            }
          }
          &:nth-child(2) {
            dt {
              background: #ffb45e;
              i {
                font-size: 26px;
                color: #fff;
              }
            }
          }
          &:nth-child(3) {
            dt {
              background: #f394ca;
              i {
                font-size: 26px;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .server {
      ul {
        li {
          width: 100%;
          height: 50px;
          border-bottom: 1px solid #efeff4;
          line-height: 50px;
          .right {
            float: right;
            padding-right: 5%;
          }
          .left {
            padding-left: 4%;
            padding-right: 4%;
            font-size: 18px;
          }
          &:nth-child(1) {
            .left {
              color: #ffb45e;
            }
          }
          &:nth-child(2) {
            .left {
              color: #f56164;
            }
          }
          &:nth-child(3) {
            .left {
              color: #ffb45e;
            }
          }
          &:nth-child(4) {
            .left {
              color: #63d5cb;
            }
          }
          &:nth-child(5) {
            .left {
              color: #ff8aad;
            }
          }
        }
      }
    }
  }
}